{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="referrer" content="no-referrer" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <title>电影推荐</title>
</head>
<body>
<div class="user">
    <div class="user-banner">
        {% if user.is_authenticated %}
            <img src="../../static/img/user-head.jpg" alt="user">
            <h3>{{ user.username }}</h3>
            <ul>
                <li>
                    <a class="banner-btn" href="{% url 'myauth:user_center' %}">个人中心</a>
                </li>
                <li>
                    <a class="banner-btn" href="{% url 'myauth:noticeUser' %}">用户告知</a>
                </li>
                <li>
                    <a class="banner-btn" href="{% url 'myauth:slogout' %}">登出</a>
                </li>   
            </ul>
        {% else %}
            <a href="{% url 'myauth:slogin' %}">登录</a>
            <a href="{% url 'myauth:register' %}">注册</a>
        {% endif %}
    </div>
</div>
<div class="list-nav">
    <!-- <div class="right">
        <div class="recommd"><a href="{% url 'myauth:hot' %}">查看推荐 &emsp;</a>
        <a href="{% url 'myauth:NEW_movie' %}">最新电影 &emsp;</a>
         <a href="{% url 'myauth:coll_movie' %}">我的收藏 &emsp;</a>
            <a href="{% url 'myauth:keshihua' %}">数据统计 &emsp;</a>
        <a href="{% url 'myauth:new_hot' %}">最新高分</a> </div>
    </div>  -->
    <ul class="nav-ul">
        <a class="nav-btn active-nav" href="{% url 'myauth:index'%}">
            首页
        </a>
        <a class="nav-btn" href="{% url 'myauth:hot' %}">
            热门电影
        </a>
        <a class="nav-btn" href="{% url 'myauth:recommd3' %}">
            量身定制
        </a>
        <a class="nav-btn" href="{% url 'myauth:NEW_movie' %}">
            最新电影
        </a>
        <a class="nav-btn" href="{% url 'myauth:coll_movie' %}">
            我的收藏
        </a>
        <a class="nav-btn" href="{% url 'myauth:keshihua' %}">
            数据统计
        </a>
        <a class="nav-btn" href="{% url 'myauth:new_hot' %}">
            最高评分
        </a>
        <form class="form-inline search" method="post" action="{% url 'myauth:search_movie' %}">
            {% csrf_token %}
            <div class="form-group">
                <input name="movie_name" type="text" class="form-control" id="exampleInputEmail3" placeholder="请输入搜索内容">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
        <div class="btn-group btn-list">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              筛选<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><form id="dongzuo" action="{% url 'myauth:index' %}" method="post">
                  {% csrf_token %}
                    <input type="hidden" value="动作" name="info">
                    <a onclick="document:dongzuo.submit();">动作</a>
                </form></li>
              <li><form id="juqing" action="{% url 'myauth:index' %}" method="post">
                  {% csrf_token %}
                    <input type="hidden" value="剧情" name="info">
                    <a onclick="document:juqing.submit();">剧情</a>
                </form></li>
              <li><form id="aiqing" action="{% url 'myauth:index' %}" method="post">
                  {% csrf_token %}
                    <input type="hidden" value="爱情" name="info">
                    <a onclick="document:aiqing.submit();">爱情</a>
                </form>
              </li>
                <li><form id="xiju" action="{% url 'myauth:index' %}" method="post">
                  {% csrf_token %}
                    <input type="hidden" value="喜剧" name="info">
                    <a onclick="document:xiju.submit();">喜剧</a>
                </form>
              <li><form id="donghua" action="{% url 'myauth:index' %}" method="post">
                  {% csrf_token %}
                    <input type="hidden" value="动画" name="info">
                    <a onclick="document:donghua.submit();">动画</a>
                </form>
              </li>
              <li><form id="kehuan" action="{% url 'myauth:index' %}" method="post">
                  {% csrf_token %}
                    <input type="hidden" value="科幻" name="info">
                    <a onclick="document:kehuan.submit();">科幻</a>
                </form>
              </li>
              <li><form id="fanzui" action="{% url 'myauth:index' %}" method="post">
                  {% csrf_token %}
                    <input type="hidden" value="犯罪" name="info">
                    <a onclick="document:fanzui.submit();">犯罪</a>
                </form>
              </li>
              <li><form id="kongbu" action="{% url 'myauth:index' %}" method="post">
                  {% csrf_token %}
                    <input type="hidden" value="恐怖" name="info">
                    <a onclick="document:kongbu.submit();">恐怖</a>
                </form>
              </li>
            </ul>
          </div>
    </ul>
</div>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'myauth:search_movie' %}">
            {% csrf_token %}
          <div class="right_search"><input class="form-control mr-sm-2" name="movie_name" type="search" placeholder="请输入电影名" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button></div>
        </form>
      </div>
    </nav>

     <div class="wrapper">
        <ul>
            <li><form action="" method="post">
                {% csrf_token %}
                <input type="hidden" value="动作" name="info">
                <button type="submit">动作</button>
            </form></li>

            <li><form action="" method="post">
                {% csrf_token %}
                <input type="hidden" value="剧情" name="info">
                <button type="submit">剧情</button>
            </form></li>

           <li><form action="" method="post">
                {% csrf_token %}
                <input type="hidden" value="爱情" name="info">
                <button type="submit">爱情</button>
            </form></li>

            <li><form action="" method="post">
                {% csrf_token %}
                <input type="hidden" value="喜剧" name="info">
                <button type="submit">喜剧</button>
            </form></li>

            <li><form action="" method="post">
                {% csrf_token %}
                <input type="hidden" value="动画" name="info">
                <button type="submit">动画</button>
            </form></li>

           <li><form action="" method="post">
                {% csrf_token %}
                <input type="hidden" value="科幻" name="info">
                <button type="submit">科幻</button>
            </form></li>

            <li><form action="" method="post">
                {% csrf_token %}
                <input type="hidden" value="犯罪" name="info">
                <button type="submit">犯罪</button>
            </form></li>

            <li><form action="" method="post">
                {% csrf_token %}
                <input type="hidden" value="恐怖" name="info">
                <button type="submit">恐怖</button>
            </form></li>
        </ul>
    </div> -->


    <div class="movie clearfix">
            <ul class=" row clearfix">
            {% for x in data %}
                <div class="showMovie col-md-3 col-sm-4">
                    <div class="service">
                        <div class="card">
                            <img src="{{ x.movie_poster }}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-bottom row">
                                <a href="/showMovie/?movie_name={{ x.movie_name }}">{{ x.movie_name }}</a>
                                <!-- <button type="submit"> -->
                            <h4>大众评分：{{ x.movie_point }}</h4>
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" value={{ x.id }} name="movie_id">
                                <input type="hidden" value="{{ type }}" name="info">
                                <!-- <div class="col-md-12">
                                    <input type="email"  name="Score" class="col-md-8 form-control" id="exampleInputEmail1" placeholder="请输入评分">
                                    <button type="submit" class="col-md-4 btn btn-default submit_button" onclick="submitAction">提交</button>
                                </div> -->
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <form action="{% url 'myauth:showMovie' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ x.id }}" name="movie_id">
                                            <input type="hidden" value="{{ x.movie_name }}" name="movie_name">
                                        <input type="number" step="0.1" class="form-control" placeholder="提交评分" name="Score">
                                        <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">提交</button>
                                        </span>
                                            </form>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </ul>
    </div>
</div>

{% if error %}
    <script>
        alert('请输入0到10之间的数据')
    </script>
{% endif %}

{% if success %}
    <script>
        alert('成功')
    </script>
{% endif %}

{#电影导航#}

<br>
<script src="../../static/js/jquery-2.1.1.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>

</body>
</html>